Software/Node-RED/Flows/Template_Function_Twitter_Bsp/flows_sdkrwlnx.json
[{"id":"589b141e.aae20c","type":"tab","label":"Flow 1"},{"id":"1e52f7a8.af8038","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c054be2d.11b4","type":"InputDevice","z":"","inputDeviceName":"Handy"},{"id":"78386d44.2c07f4","type":"OutputDevice","z":"","outputDeviceName":"RGB"},{"id":"ec09f8be.ce2ab8","type":"twitter-credentials","z":"","screen_name":"@sdkrwl"},{"id":"6cb045c0.853a5c","type":"Sensor","z":"589b141e.aae20c","name":"c054be2d.11b4","count":"4","topic":"Helligkeit","qos":"1","broker":"1e52f7a8.af8038","parseJson":true,"x":121,"y":97,"wires":[["f5db5f11.51649"]]},{"id":"f5db5f11.51649","type":"template","z":"589b141e.aae20c","name":"Erzeuge Text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IoT-Masterarbeit.\nDie Helligkeit im Raum betr채gt: {{payload.helligkeit}} !","x":369,"y":97,"wires":[["c1636c94.32b6c"]]},{"id":"c1636c94.32b6c","type":"twitter out","z":"589b141e.aae20c","twitter":"ec09f8be.ce2ab8","name":"Helligkeitstweet","x":606,"y":97,"wires":[]},{"id":"b7ca1833.2fcc98","type":"comment","z":"589b141e.aae20c","name":"Template Bsp","info":"Erzeugt Text aus Payload und twittert diesen.","x":116,"y":62,"wires":[]},{"id":"d32efffc.b06d8","type":"function","z":"589b141e.aae20c","name":"RGB_Payload_to_JSON","func":"if(msg.payload.includes(\"rgb\")){\n    var rgb = msg.payload.match(/\\d+/g);\n    var red = rgb[0];\n    var green = rgb[1];\n    var blue = rgb[2];\n    \n    var newPayload = '{ \"rot\" : ' +\n    red + ', \"gr체n\" : ' +\n    green + ', \"blau\" : ' +\n    blue + '}';\n    \n    var newMsg = { payload: newPayload};\n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":399,"y":209,"wires":[["6d1a6d42.3b0e54"]]},{"id":"b72dfe69.d53c4","type":"Sensor","z":"589b141e.aae20c","name":"c054be2d.11b4","count":"2","topic":"Handy","qos":"1","broker":"1e52f7a8.af8038","parseJson":false,"x":101,"y":209,"wires":[["d32efffc.b06d8"]]},{"id":"cc173094.f9e23","type":"comment","z":"589b141e.aae20c","name":"Funktion Beispiel","info":"Erzeugt aus String einen Payload f체r eine RGB Steuerung","x":115,"y":171,"wires":[]},{"id":"6d1a6d42.3b0e54","type":"Aktor","z":"589b141e.aae20c","broker":"1e52f7a8.af8038","name":"78386d44.2c07f4","count":"2","qos":"1","parseJson":true,"nodeLabel":"RGB-LED-B체ro","topic":"","x":635,"y":208,"wires":[]},{"id":"2f21a1ad.739e0e","type":"sentiment","z":"589b141e.aae20c","name":"","x":361,"y":351,"wires":[["82433a68.743968"]]},{"id":"82433a68.743968","type":"debug","z":"589b141e.aae20c","name":"","active":true,"console":"false","complete":"sentiment","x":622,"y":352,"wires":[]},{"id":"699050bc.6a5e6","type":"twitter in","z":"589b141e.aae20c","twitter":"ec09f8be.ce2ab8","tags":"@sdkrwl","user":"user","name":"","topic":"tweets","inputs":0,"x":125,"y":332,"wires":[["aa813df.29ad1c","2f21a1ad.739e0e"]]},{"id":"aa813df.29ad1c","type":"debug","z":"589b141e.aae20c","name":"","active":true,"console":"false","complete":"payload","x":371,"y":303,"wires":[]},{"id":"a6626819.353c08","type":"comment","z":"589b141e.aae20c","name":"Twitter und Sentiment Analyse Bsp","info":"Empfange Tweets von sdkrwl, extrahiere Inhalt\ndes Tweets und werte aus, ob der Tweet\nnegativ oder positiv gemeint ist","x":151,"y":266,"wires":[]}]