Software/Node-RED/Flows/Twitter_Beispiel
[
    {
        "id": "2f21a1ad.739e0e",
        "type": "sentiment",
        "z": "589b141e.aae20c",
        "name": "",
        "x": 361,
        "y": 351,
        "wires": [
            [
                "82433a68.743968"
            ]
        ]
    },
    {
        "id": "82433a68.743968",
        "type": "debug",
        "z": "589b141e.aae20c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "sentiment",
        "x": 622,
        "y": 352,
        "wires": []
    },
    {
        "id": "699050bc.6a5e6",
        "type": "twitter in",
        "z": "589b141e.aae20c",
        "twitter": "",
        "tags": "@sdkrwl",
        "user": "user",
        "name": "",
        "topic": "tweets",
        "inputs": 0,
        "x": 125,
        "y": 332,
        "wires": [
            [
                "aa813df.29ad1c",
                "2f21a1ad.739e0e"
            ]
        ]
    },
    {
        "id": "aa813df.29ad1c",
        "type": "debug",
        "z": "589b141e.aae20c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 371,
        "y": 303,
        "wires": []
    },
    {
        "id": "a6626819.353c08",
        "type": "comment",
        "z": "589b141e.aae20c",
        "name": "Twitter und Sentiment Analyse Bsp",
        "info": "Empfange Tweets von sdkrwl, extrahiere Inhalt\ndes Tweets und werte aus, ob der Tweet\nnegativ oder positiv gemeint ist",
        "x": 151,
        "y": 266,
        "wires": []
    }
]
