Software/Node-RED/Flows/Wetter_Beispiel
[
    {
        "id": "48cf412e.a9783",
        "type": "http request",
        "z": "589b141e.aae20c",
        "name": "Openweathermap.org API",
        "method": "GET",
        "ret": "obj",
        "url": "api.openweathermap.org/data/2.5/weather?id=2857458&APPID=1e47b187d1c8eb03e20ffc1c83a7fb3d",
        "tls": "",
        "x": 314,
        "y": 600,
        "wires": [
            [
                "70326356.ff98dc"
            ]
        ]
    },
    {
        "id": "3eefddf6.5c72b2",
        "type": "inject",
        "z": "589b141e.aae20c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 105,
        "y": 572,
        "wires": [
            [
                "48cf412e.a9783"
            ]
        ]
    },
    {
        "id": "70326356.ff98dc",
        "type": "function",
        "z": "589b141e.aae20c",
        "name": "KtoC",
        "func": "\nvar kelvin = msg.payload.main.temp;\nvar celcius = (parseInt(kelvin) - 273.15).toFixed(2);\n\nvar newmsg = {payload: celcius};\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 502,
        "y": 601,
        "wires": [
            [
                "c9782257.a1755"
            ]
        ]
    },
    {
        "id": "c9782257.a1755",
        "type": "template",
        "z": "589b141e.aae20c",
        "name": "createTweet",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "IoT Masterarbeit!\nIn Oldenburg sind es {{payload}}°C!\nJetzt auch mit nur 2 Nachkommastellen.",
        "x": 653,
        "y": 601,
        "wires": [
            [
                "ddf35719.2ef578"
            ]
        ]
    },
    {
        "id": "ddf35719.2ef578",
        "type": "twitter out",
        "z": "589b141e.aae20c",
        "twitter": "",
        "name": "Tweet",
        "x": 849,
        "y": 597,
        "wires": []
    },
    {
        "id": "4e964294.307cfc",
        "type": "Sensor",
        "z": "589b141e.aae20c",
        "name": "c054be2d.11b4",
        "count": "1",
        "topic": "Handy",
        "qos": "1",
        "broker": "1e52f7a8.af8038",
        "parseJson": true,
        "x": 100,
        "y": 633,
        "wires": [
            [
                "48cf412e.a9783"
            ]
        ]
    },
    {
        "id": "11d3ff43.b22671",
        "type": "comment",
        "z": "589b141e.aae20c",
        "name": "Wetter API Call",
        "info": "",
        "x": 105,
        "y": 464,
        "wires": []
    },
    {
        "id": "c054be2d.11b4",
        "type": "InputDevice",
        "z": "",
        "inputDeviceName": "Handy"
    },
    {
        "id": "1e52f7a8.af8038",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
